---
interface Props {
	url: string;
	title?: string;
	description?: string;
	image?: string;
}
const { url, title, description, image } = Astro.props as Props;
const hostname = new URL(url).hostname;
---

<a
	href={url}
	class="hover:bg-surface0 not-prose hover:border-link mt-3 block overflow-hidden rounded-md border border-gray-600 no-underline transition-colors"
>
	{image && <img src={image} alt="" loading="lazy" class="mt-0 mb-0 w-full object-contain" />}
	<div class="p-3">
		{title && <p class="mb-2 font-semibold">{title}</p>}
		{
			description && (
				<p class="text-subtext1 mb-1 line-clamp-3 text-sm no-underline">{description}</p>
			)
		}
		<p class="text-muted mt-1 text-xs">{hostname}</p>
	</div>
</a>
